<h1>Bienvenido, {{name}}</h1>

<h2>Lista de productos</h2>
{{#if products.length}}
  {{#each products}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>${{this.price}}</p>
  {{/each}}
{{else}}
  <h3>No hay productos</h3>
{{/if}}